.q {
    quotes: '"' '"';
}
.q:before {
    content: open-quote;
}
.q:after {
    content: close-quote;
}

.function_info {
    display: flex;
}
.function_info li i {
    font-size: 24px;
    padding: 8px;
    color: #82c25a;
    line-height: 25px;
    margin: 0px;
}
.command {
    display: flex;
    justify-content: center;
}
.command 
